Scale3Pojos/src/main/xsd/Event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="action"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element name="object">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="account">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:dateTime" name="created_at"/>
                    <xs:element type="xs:dateTime" name="updated_at"/>
                    <xs:element type="xs:string" name="state"/>
                    <xs:element type="xs:string" name="org_name"/>
                    <xs:element type="xs:string" name="extra_fields"/>
                    <xs:element type="xs:string" name="credit_card_stored"/>
                    <xs:element name="plans">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="plan">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="state"/>
                                <xs:element type="xs:float" name="setup_fee"/>
                                <xs:element type="xs:float" name="cost_per_month"/>
                                <xs:element type="xs:string" name="trial_period_days"/>
                                <xs:element type="xs:byte" name="cancellation_period"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="default"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="users">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="user">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element type="xs:dateTime" name="created_at"/>
                                <xs:element type="xs:dateTime" name="updated_at"/>
                                <xs:element type="xs:byte" name="account_id"/>
                                <xs:element type="xs:string" name="state"/>
                                <xs:element type="xs:string" name="role"/>
                                <xs:element type="xs:string" name="username"/>
                                <xs:element type="xs:string" name="email"/>
                                <xs:element type="xs:string" name="extra_fields"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>